* {
    color: var(--fontColor);
    font-family: Helvetica;
}

body {
    background: var(--bg);
}

ul {
    font-family: Helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.ligth-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

:root {
    --green: #00ff00;
    --withe: #ffffff;
    --black: #000000;
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}